<div class="float-container">
  <h2>Register Your Query</h2>
  <form #queryform="ngForm" (ngSubmit)="querydata(queryform.value, queryform)">
    <div class="float-child">
      <h5>Register Your Query Here</h5>
      <input type="number"  placeholder="Query Id" ngModel name="id"><br>
      <input type="number"  placeholder=" Enter Customer ID" ngModel name="customer_id"><br>
      <input type="text"  placeholder=" Enter Your Name" ngModel name="customer_name"><br>
      <input type="text"  placeholder=" Enter Mobile Number" maxlength="10" ngModel name="mobile"><br>
    </div>
    <div class="float-child">
      <input type="text"  placeholder=" Enter Your Query..." ngModel name="description" ><br>
      <input type="text" placeholder=" Resolved/Pending" ngModel name="status"><br><br>
      <button class="btn btn-primary" type="submit">submit</button>
    </div>
  </form>
</div>

<p>query works!</p>
