<div class="float-container">
  <h2>Port To Voizfonica</h2>
  <div style="text-align:left;">
    Previous Network: <label for="port1">Choose Network</label>
      <select name="port" id="port1">
        <option value="airtel">Airtel</option>
        <option value="vi">Vi</option>
        <option value="jio">Jio</option>
        <option value="bsnl">BSNL</option>
        <option value="vodafone">Vodafone</option>
      </select>
    </div>
  <form #portform="ngForm" (ngSubmit)="getvalues(portform.value, portform)">
    <div class="float-child">
        <h5>Personal Details</h5>
        <input type="number"  placeholder="Customer Id(number)" ngModel name="id"><br>
        <input type="text"  placeholder=" Prepaid/Postpaid/Dongle Connection" ngModel name="connection_type"><br>
        <input type="text"  placeholder=" Enter Your Name" ngModel name="customer_name"><br>
        <input type="text"  placeholder=" Enter Mobile Number" maxlength="10" ngModel name="mobile"><br>
        <input type="text" placeholder=" Enter Your Email" ngModel name="email"><br>

    </div>
    <div class="float-child">

      <input type="text"  placeholder=" Enter Aadhar Number" maxlength="14" ngModel name="aadhar"><br>
      <h5>Address Details</h5>
      <input type="text"  placeholder=" Enter Address" ngModel name="address" ><br>
      <input type="number" placeholder=" Enter Pin-Code" ngModel name="pin"><br><br>
      <button class="btn btn-primary" type="submit">submit</button>
    </div>
  </form>
</div>

