<body>

  <div class="header">
      <h1>WELCOME TO VOIZFONICA</h1>
      <p><b>The right choice.</b> </p>
  </div>

  <div class="navbar">
      <a href="#" class="active">Home</a>
      <button class="button" routerLink="/prepaid-plan">Prepaid</button>
      <button class="button" routerLink="/postpaid-plan">Postpaid</button>
      <button class="button" routerLink="/dongle-plan">Dongle</button>
      <button class="button" routerLink="/invoice">Generate Invoice</button>
      <a href="http://127.0.0.1:8000/" class="right">Logout</a><br><br>
  </div>
  <router-outlet></router-outlet>

  <div class="row">
      <div class="side">
          <h2>Voizfonica</h2>

          <p>We are here to be your telecom provider today, tomorrow, and beyond... </p><br><br>
          <h2 style="background:white"> BUY NEW CONNECTION</h2>
          <h4>Home Deliver Your Simcard </h4>
          <img src="assets/images/img.png" alt="image" height="160px" width="300px"><br><br>
          <a href="/buy" style="background-color: #3cb371;color:#fff;border: solid black;padding:5px;border-radius:25px;">Buy now</a>
      </div>
      <div class="main">
          <h2>We are here to help you..</h2>
          <img src="assets/images/img_2.png" alt="image" height="160px" width="300px"><br><br>

          <a href="/query" style="background-color: #3cb371;color:#fff;border: solid black; padding:5px; border-radius:25px;">Customer Support
          </a><br><br><br>

          <h2>Port to Voizfonica</h2>
          <a href="/port" style="background-color: #3cb371;color:#fff;border: solid black; padding:5px; border-radius:25px;">Click Here</a>
      </div>
  </div>

  <div class="footer">
    <h3>Follow us on: </h3>
       <p> Instagram: @Voizfonica_telecom &nbsp;&nbsp;&nbsp;
        Facebook: Voizfonica_telecom &nbsp;&nbsp;&nbsp;
        Twitter: @Voizfonica_telecom
    </p>
  </div>


</body>
